.sercher {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.sercher__global {
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.sercher__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--transparent-blackDarken);
    padding: 2.5rem;
    border-radius: 1.5rem;

    @media (min-width: 768px) {
        font-size: 1.3rem;
        flex-direction: row;
        gap: .5rem;
    }
}

.searcher__input {
    display: flex;
    flex-direction: column;
    color: var(--white);

    input {
        padding: .5rem;
        background-color: transparent;
        color: var(--white);
        border: none;
        border-bottom: 1px solid var(--white);
    }

    @media (min-width: 768px) {
        input {
            padding: 1rem;
        }
    }
}

.sercher__schedule {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;

    input {
        padding: 1rem;
        margin: auto;
        color: var(--white);
        font-size: 1.6rem;
        font-weight: 700;
        background-color: var(--primary-blue);
        text-transform: uppercase;
        border: none;
    }

    input:hover {
        cursor: pointer;
    }

    @media (min-width: 768px) {
        input {
            padding: 1.5rem;
        }
    }
}