<section class="sercher">
    <div class="sercher__global">
        <form action="" class="sercher__form">
            <div class="searcher__input">
                <label for="">Destino</label>
                <input type="text" placeholder="Bangkok Tailandia">
            </div>
            <div class="searcher__input">
                <label for="persons">Personas</label>
                <input id="persons" type="number" placeholder="Numero de viajeros">
            </div>
            <div class="searcher__input">
                <label for="checkIn">Check In</label>
                <input id="checkIn" type="date">
            </div>
            <div class="searcher__input">
                <label for="checkOut">Check Out</label>
                <input id="checkOut" type="date">
            </div>
        </form>
        <div class="sercher__schedule">
            <input type="submit" value="Agenda Ahora">
        </div>
    </div>
</section>