<section class="travel">
    <div class="travel__img">
        <h2>Conoce Nuestros Paquetes</h2>
        <div class="travel__title">
            <a routerLink="/home">Inicio</a>
            <p> > </p>
            <a routerLink="/home/travel">Paquetes</a>
        </div>
    </div>
    <div class="travel__info--container">
        <div class="travel__info">
            <p>+18EXP</p>
        </div>
        <div class="travel__info">
            <p>1822</p>
            <p>Clientes</p>
        </div>
        <div class="travel__info">
            <p>350</p>
            <p>Destinos</p>
        </div>
        <div class="travel__info">
            <p>95%</p>
            <p>Clientes</p>
            <p>Satisfechos</p>
        </div>
    </div>

    <div class="travel__offers container">
        <h2>Mejores ofertas</h2>
        <div class="travel__grid">
            <div class="travel__card">
                <img src="../../../../../assets/travel/buenos-aires.jpg" loading="lazy" alt="Imagen Buenos Aires">

                <div class="cards__info">
                    <h3>Buenos Aires Argentina</h3>

                    <p>
                        La Ciudad de Buenos Aires o Ciudad Autónoma de Buenos Aires
                        también llamada Capital Federal por ser sede del gobierno Federal
                        es la capital de la República Argentina. Está situada en la región centro-este del país,
                        sobre la orilla occidental del Rio de la Plata, en plena llanura pampeana.
                    </p>

                    <div class="cards__price">
                        <p>Desde:</p>
                        <span>$2188</span>
                        <small>pp</small>
                        <a href="#">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="travel__card">
                <img src="../../../../../assets/travel/patagonia.jpg" loading="lazy" alt="Imagen Patagonia Argentina">

                <div class="cards__info">
                    <h3>Patagonia Argentina</h3>

                    <p>
                        La Ciudad de Buenos Aires o Ciudad Autónoma de Buenos Aires
                        también llamada Capital Federal por ser sede del gobierno Federal
                        es la capital de la República Argentina. Está situada en la región centro-este del país,
                        sobre la orilla occidental del Rio de la Plata, en plena llanura pampeana.
                    </p>

                    <div class="cards__price">
                        <p>Desde:</p>
                        <span>$2188</span>
                        <small>pp</small>
                        <a href="#">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="travel__card">
                <img src="../../../../../assets/travel/egipto.jpg" loading="lazy" alt="Imagen El Cairo Egipto">

                <div class="cards__info">
                    <h3>El Cairo Egipto</h3>

                    <p>
                        La Ciudad de Buenos Aires o Ciudad Autónoma de Buenos Aires
                        también llamada Capital Federal por ser sede del gobierno Federal
                        es la capital de la República Argentina. Está situada en la región centro-este del país,
                        sobre la orilla occidental del Rio de la Plata, en plena llanura pampeana.
                    </p>

                    <div class="cards__price">
                        <p>Desde:</p>
                        <span>$2188</span>
                        <small>pp</small>
                        <a href="#">Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="travel__promotion">
        <div class="promotion__container container">
            <div class="promotion__text">
                <h2>Dubai</h2>
                <p>Emiratos</p>
            </div>
            <div class="promotion__info">
                <div class="promotion__price">
                    <p>Desde:</p>
                    <span>$4400</span>
                    <small>pp</small>
                </div>

                <div class="promotion__days">
                    <p>13 dias</p>
                    <p>12 noches</p>
                </div>
            </div>
            <div class="promotion__button">
                <a href="#">Visita Ahora</a>
            </div>
        </div>
    </div>
</section>