<footer class="footer">
    <div class="footer__container container">
        <div class="footer__brand">
            <img src="../../../assets/logos/logo_vertical.png" loading="lazy" alt="Logo Mahezi">

            <div class="footer__social">
                <div class="icon">
                    <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
                </div>
                <div class="icon">
                    <a href="#"><fa-icon [icon]="faTikTok"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="services">
            <h3>Servicios</h3>

            <nav>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Boletos de avión
                </a>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Hoteles
                </a>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Tours
                </a>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Circuitos
                </a>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Seguros
                </a>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Traslados
                </a>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Disney
                </a>
            </nav>
        </div>
        <div class="links">
            <h3>Links</h3>

            <nav>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Nosotros
                </a>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Paquetes
                </a>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Servicio
                    s</a>
                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    blog</a>

                <a href="#">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    Contacto
                </a>
            </nav>
        </div>
        <div class="contact">
            <h3>Contacto</h3>

            <div class="contact__info">
                <p>
                    <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
                    Uxmal 499, Ofic. 5 y 6,
                    Colonia Vértiz Narvarte, Benito Juárez,
                    03600 Ciudad de México, CDMX
                </p>
                <p>
                    <fa-icon [icon]="faPhoneAlt"></fa-icon>
                    558 930 9113
                </p>
                <p>
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    contacto@mahezitravel.com
                </p>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p>Copyright &copy; <a href="#">mahezitravel.com</a>. All Rights Reserved.</p>
    </div>
</footer>