<footer class="footer">
    <div>
        <div class="services">
            <h3>Servicios</h3>

            <nav>
                <a href="#">Boletos de avión</a>
                <a href="#">Hoteles</a>
                <a href="#">Tours</a>
                <a href="#">Circuitos</a>
                <a href="#">Seguros</a>
                <a href="#">Traslados</a>
                <a href="#">Disney</a>
            </nav>
        </div>
        <div class="links">
            <h3>Links</h3>

            <nav>
                <a href="#">Nosotros</a>
                <a href="#">Paquetes</a>
                <a href="#">Servicios</a>
                <a href="#">blog</a>
                <a href="#">Contacto</a>
            </nav>
        </div>
        <div>
            <h3>Contacto</h3>

            <p>
                Uxmal 499, Ofic. 5 y 6,
                Colonia Vértiz Narvarte, Benito Juárez,
                03600 Ciudad de México, CDMX
            </p>
            <p>558 930 9113</p>
            <p>
                contacto@mahezitravel.com
            </p>
        </div>
        <div></div>
    </div>
    <div>
        <p>Copyright &copy; <a href="#">mahezitravel.com</a>. All Rights Reserved.</p>
    </div>
</footer>