<footer class="footer">
    <div class="footer__content container">
        <div class="footer__logo">
            <img src="../../../assets/logos/mahezi.webp" loading="lazy" alt="Logo Mahezi">

            <div class="footer__logo--social">

            </div>
        </div>
        <div class="footer__contact">
            <h3 class="footer__heading">Contacto</h3>

            <p>reservaciones@mahezi.com.mx</p>
            <p>558 930 9113</p>
            <p>
                Av. Universidad 468-Ofic. 5 y 6,
                Colonia Vértiz Narvarte, Benito Juárez,
                03600 Ciudad de México, CDMX
            </p>
        </div>
        <div class="footer__services">
            <h3 class="footer__heading">Servicios</h3>

            <nav class="footer__navegation">
                <p>
                    <a href="#" class="footer__link">Boletos de avión</a>
                </p>
                <p>
                    <a href="#" class="footer__link">Hoteles</a>
                </p>
                <p>
                    <a href="#" class="footer__link">Tours</a>
                </p>
                <p>
                    <a href="#" class="footer__link">Circuitos</a>
                </p>
                <p>
                    <a href="#" class="footer__link">Seguros</a>
                </p>
                <p>
                    <a href="#" class="footer__link">Traslados</a>
                </p>
                <p>
                    <a href="#" class="footer__link">Disney</a>
                </p>
            </nav>
        </div>
    </div>

    <p class="footer__copyright">Todos Los Derechos Reservados Mahezi</p>
</footer>