<header class="header">
    <div class="header__bar">
        <div class="header__logo">
            <img src="../../../assets/logos/mahezi.png" loading="lazy" alt="Logo Mahezi">
            <div class="header__letters">
                <img src="../../../assets/logos/maheziLetters.png" loading="lazy" alt="Logo Letters">
                <img src="../../../assets/logos/travel.png" loading="lazy" alt="Logo Travel">
            </div>
        </div>
        <nav class="navegation">
            <a routerLink="/home" class="navegation__link">Home</a>
            <a routerLink="/home/explore" class="navegation__link">Nosotros</a>
            <a routerLink="/home/travel" class="navegation__link">Paquetes</a>
            <a routerLink="/home" class="navegation__link">Servicios</a>
            <a routerLink="/home/blog" class="navegation__link">Blog</a>
            <a routerLink="/home/pricing" class="navegation__link">Contacto</a>
        </nav>
        <div class="header__buttons">
            <a href="">Login</a>
            <a href="">SignUp</a>
        </div>
    </div>
    <div class="header__text container">
        <h2>
            Relájate como nunca antes <span>tu mejor viaje comienza aquí.</span>
        </h2>
    </div>

    <div class="header__travel">
        <p>Start traveling now</p>
    </div>

    <div class="header__sercher">
        <home-searcher></home-searcher>
    </div>
</header>