.header {
    // height: 100rem;


    &__bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background-color: var(--black-footer);

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 10rem;
        }

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            gap: .7rem;
        }
    }

    &__letters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            margin-top: .5rem;
            width: 17rem;

            &:last-of-type {
                width: 5rem;
            }
        }

        @media (min-width: 768px) {
            margin-top: 0;
        }
    }
}

.navegation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    @media (min-width: 768px) {
        margin-bottom: 0;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 0;
    }

    &__link {
        color: var(--white);
        font-size: 1.8rem;
        margin-bottom: 2rem;
        text-decoration: none;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}

.header__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        margin-bottom: 2rem;
        color: var(--white);
        font-size: 1.8rem;
        text-decoration: none;

        &:last-of-type {
            background-color: var(--primary-blue);
            padding: 1rem 1.7rem 1rem 1.7rem;
            border-radius: .5rem;
        }
    }

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        a {
            margin-bottom: 0;
        }
    }
}

.header__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem 0 2rem;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;

    h2 {
        margin: 0;
    }

    span {
        font-weight: 700;
    }

    @media (min-width: 768px) {
        justify-content: left;

        h2 {
            padding: 5rem;
            margin-top: 10rem;
            font-size: 8rem;
        }
    }
}

.header__travel {
    color: var(--white);
    font-size: 1.8rem;

    p {
        text-align: center;
        margin: 0;
    }
}