<header>
    <div class="container header">
        <div class="logo">
            <a href="">
                <img src="../../../assets/logos/mahezi.png" loading="lazy" alt="Logo Mahezi">
            </a>
        </div>
        <nav>
            <a href="">Home</a>
            <a href="">Explore</a>
            <a href="">Travel</a>
            <a href="">Blog</a>
            <a href="">Pricing</a>
        </nav>
        <div class="buttons">
            <a href="">Login</a>
            <button>Signup</button>
        </div>
    </div>
</header>