.section__login {
    background-color: var(--light-grey);

    .login__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10rem 0 10rem 0;

        .login__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            img {
                display: block;
                width: 15rem;
            }
        }

        .form {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            width: 100%;

            @media (min-width: 769px) {
                width: 40%;
            }

            label,
            .input {
                width: 100%;
            }

            .input {
                margin-top: .7rem;
                margin-bottom: 2rem;
                border-radius: .7rem;
                border: none;
                padding: 1rem;
            }

            .input:hover {
                -webkit-box-shadow: 10px 10px 40px -15px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 10px 10px 40px -15px rgba(0, 0, 0, 0.4);
                box-shadow: 10px 10px 40px -15px rgba(0, 0, 0, 0.4);
            }

            .primary__button {
                width: 100%;
                padding: 1rem;
                font-size: 1.8rem;
                background-color: var(--primary-blue);
                color: var(--white);
                font-weight: 700;
                border: none;

                @media (min-width: 769px) {
                    width: 60%;
                }
            }

            .primary__button:hover {
                background-color: var(--secondary-blue);
            }

            .link__forgot {
                margin-top: 2rem;
                color: var(--primary-blue);
                text-decoration: none;
            }

            .link__forgot:hover {
                color: var(--secondary-blue);
            }
        }
    }
}