<section class="section__login">
    <div class="container login__container">
        <div class="login__logo">
            <img src="assets/logos/mahezi.webp" loading="lazy" alt="Logo Mahezi">
        </div>
        <form action="" class="form">
            <label for="email">E-mail</label>
            <input class="input input__email" type="email" name="" placeholder="mahezitravel@example.com" id="email">

            <label for="password">Password</label>
            <input class="input input__password" type="password" placeholder="********" name="" id="password">

            <input class="primary__button login__button" type="submit" value="Log in">
            <a href="#" class="link__forgot">Forgot my password</a>
        </form>
    </div>
</section>