<section class="section__services">
    <div class="services__img">
        <h2>Nosotros</h2>
        <div class="services__title">
            <a routerLink="/home">Inicio</a>
            <p> > </p>
            <a routerLink="/home/services">Servicios</a>
        </div>
    </div>
    <div class="container">
        <div class="services__solutions">
            <h2>Servicios</h2>
            <h3>Nuestras soluciones para ti</h3>
        </div>

        <div class="services__grid">
            <div class="services__card">
                <div class="card__icon">
                    <img src="../../../../../assets/icons/boleto.png" loading="lazy" alt="Icono boleto">
                </div>
                <div class="card__description">
                    <h3>Boletos</h3>
                    <p>Avión, Autobus, Cruceros; cualquiera que necesites para tu viaje ideal.</p>
                </div>
            </div>
            <div class="services__card">
                <div class="card__icon">
                    <img src="../../../../../assets/icons/hotel.png" loading="lazy" alt="">
                </div>
                <div class="card__description">
                    <h3>Hoteles</h3>
                    <p>Mas de 500 mil hoteles a nivel mundial.</p>
                </div>
            </div>
            <div class="services__card">
                <div class="card__icon">
                    <img src="../../../../../assets/icons/tour.png" alt="">
                </div>
                <div class="card__description">
                    <h3>Tours</h3>
                    <p>Para conocer los mejores lugares sin complicaciones.</p>
                </div>
            </div>
            <div class="services__card">
                <div class="card__icon">
                    <img src="../../../../../assets/icons/coche.png" loading="lazy" alt="">
                </div>
                <div class="card__description">
                    <h3>Autos</h3>
                    <p>Miles de arrendadoras en una sola búsqueda.</p>
                </div>
            </div>
            <div class="services__card">
                <div class="card__icon">
                    <img src="../../../../../assets/icons/crucero.png" loading="lazy" alt="">
                </div>
                <div class="card__description">
                    <h3>Cruceros</h3>
                    <p>Conoce el mar con las diferentes opciones que tenemos para ti.</p>
                </div>
            </div>
            <div class="services__card">
                <div class="card__icon">
                    <img src="../../../../../assets/icons/tren.png" loading="lazy" alt="">
                </div>
                <div class="card__description">
                    <h3>Trenes</h3>
                    <p>Viaja en tren y ten una experiencia inolvidable.</p>
                </div>
            </div>
        </div>
    </div>
</section>