.section__services {
    background-color: #F2F2F2;
    padding-bottom: 5rem;

    .services__img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--white);
        height: 30rem;
        background-image: linear-gradient(to left, transparentize(#000, .5) 0%, transparentize(#38383a, .5) 100%), url('../../../../../assets/about/hintersee.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        h2 {
            font-size: 5rem;
        }


        .services__title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            color: var(--white);
            font-size: 2rem;

            a {
                color: var(--white);
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            p {
                margin: 0;
            }
        }
    }

    .services__solutions {
        margin-top: 5rem;

        h2 {
            text-align: center;
            font-size: 4rem;
            color: var(--primary-blue);
            font-weight: 700;
        }

        h3 {
            text-align: center;
            font-size: 2.8rem;
            font-weight: 700;
        }
    }

    .services__grid {
        margin-top: 5rem;
        display: grid;
        gap: 3rem;

        @media (min-width: 769px) {
            grid-template-columns: repeat(3, 1fr);
        }

        .services__card {
            background-color: var(--white);
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card__icon {
                border: 2px solid var(--primary-blue);
                padding: 1rem;

                img {
                    width: 10rem;
                }
            }

            .card__description {
                margin-top: 2rem;

                h3 {
                    font-size: 2rem;
                    color: var(--primary-blue);
                    text-align: center;

                }

                p {
                    text-align: justify;
                    font-size: 1.6rem;
                }
            }
        }
    }
}