<section class="most-searched container">
    <div class="most-searched__title">
        <h2>Destinos más buscados</h2>
        <p>Elije entre nuestros destinos mas buscados</p>
    </div>
    <div class="most-searched__grid">
        <div class="most-searched__items">
            <img src="../../../../../assets/mostSearched/japan.jpg" loading="lazy" alt="Imagen Tokio Japón">
            <div class="most-searched__description">
                <h3>Tokio Japón</h3>
                <a href="#">Visitar</a>
            </div>
        </div>
        <div class="most-searched__items">
            <img src="../../../../../assets/mostSearched/tailandia.jpg" loading="lazy" alt="Imagen Tailandia">
            <div class="most-searched__description">
                <h3>Tailandia</h3>
                <a href="#">Visitar</a>
            </div>
        </div>
        <div class="most-searched__items">
            <img src="../../../../../assets/mostSearched/eiffel-tower.jpg" loading="lazy" alt="Imagen Paris Francia">
            <div class="most-searched__description">
                <h3>Paris Francia</h3>
                <a href="#">Visitar</a>
            </div>
        </div>
    </div>
</section>