<section class="section__contact">
    <div class="contact__img">
        <h2>Contactanos</h2>
        <div class="contact__title">
            <a routerLink="/home">Inicio</a>
            <p> > </p>
            <a routerLink="/home/contact">Contacto</a>
        </div>
    </div>
    <div class="container">
        <h2 class="text-contact">Contáctanos para mas información</h2>

        <form class="formulario">
            <fieldset>
                <legend>Tus Datos</legend>

                <div class="campo">
                    <label for="nombre">Nombre: </label>
                    <input id="nombre" type="text" placeholder="Tu Nombre" required>
                </div>

                <div class="campo">
                    <label for="asunto">Asunto:</label>
                    <input id="asunto" type="text" placeholder="Tu Asunto" required>
                </div>

                <div class="campo">
                    <label for="email">E-mail:</label>
                    <input id="email" type="email" placeholder="Tu Email">
                </div>

                <div class="campo">
                    <label for="tel">Teléfono:</label>
                    <input id="tel" type="tel" placeholder="Tu Teléfono">
                </div>

                <div class="campo">
                    <label for="tel">Mensaje:</label>
                    <textarea placeholder="Platicanos de ti, gustos, preferencias, etc." rows="10" cols="20"></textarea>
                </div>

            </fieldset>

            <input class="btn" type="submit" value="Enviar Formulario">
        </form>
    </div>
</section>