.section__pricing {
    background-image: linear-gradient(to left, transparentize(#000, .8) 0%, transparentize(#303031, .8) 100%), url('../../../../../assets/pricing/fondoNewYork.jpg');
    height: 70rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    .pricing__form {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 50%;

        form {
            display: flex;
            font-size: 2rem;

            @media (min-width: 769px) {
                font-size: 4rem;
            }

            input {
                color: var(--white);
                background-color: var(--gray-Secundary);
                padding: .5rem;

                @media (min-width: 769px) {
                    padding: 2rem 10rem;
                    border-radius: 1rem;
                }
            }

            .pricing__button {
                input {
                    background-color: var(--primary-orange);
                }

                input:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .pricing__offerts {
        height: 50%;
        width: 100%;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            color: var(--white);
        }

        @media (min-width: 769px) {
            font-size: 5rem;
        }
    }
}