#mySlider {
    position: relative;
    width: 100%;
    z-index: -1;
}

#searchContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text__relax {
    display: none;

    @media (min-width: 769px) {
        display: block;
        color: var(--white);
        font-size: 8rem;
    }
}

.text__traveling {
    display: none;

    @media (min-width: 769px) {
        display: block;
        text-align: center;
        color: var(--white);
        font-size: 1.8rem;
    }
}