#carousel img {
    object-fit: cover;
    height: 70rem;
}

#searchContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text__relax {
    font-size: 4rem;
    color: var(--white);

    @media (min-width: 769px) {
        font-size: 8rem;
    }
}

.text__traveling {

    text-align: center;
    color: var(--white);
    font-size: 1.8rem;
}