<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../../assets/carousel/buildings-1804481_1920.jpg" class="d-block w-100"
                alt="Imagen Carousel">
        </div>
        <div class="carousel-item">
            <img src="../../../../../assets/carousel/buildings-647400_1920.jpg" class="d-block w-100"
                alt="Imagen Carousel">
        </div>
        <div class="carousel-item">
            <img src="../../../../../assets/carousel/buildings.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>