<section class="section__about">
    <div class="about__img">
        <h2>Nosotros</h2>
        <div class="about__title">
            <a routerLink="/home">Inicio</a>
            <p> > </p>
            <a routerLink="/home/about">Nosotros</a>
        </div>
    </div>

    <div class="container about__container">
        <div class="section__aboutUs">
            <div class="aboutUs__img">
                <img src="../../../../../assets/about/person.jpg" loading="lazy" alt="">
            </div>

            <div class="aboutUs__info">
                <div class="aboutUs__content">
                    <h3>Y Nosotros</h3>
                    <h2>¿Quienes somos?</h2>
                    <p>
                        No solo somos una agencia de viajes; somos una encarnación del espíritu aventurero en la
                        búsqueda de
                        experiencias inolvidables. Con un compromiso de redefinir los viajes, organizamos travesías que
                        van
                        más allá de lo común, ofreciendo una mezcla perfecta de innovación, confiabilidad y
                        tranquilidad.
                        Nuestra identidad de marca vibrante e inconvencional nos distingue, reflejando un enfoque
                        moderno
                        hacia los viajes que satisface gustos y deseos diversos.
                    </p>
                    <div class="aboutUs__img">
                        <img src="../../../../../assets/about/cruise.jpg" alt="">
                        <img src="../../../../../assets/about/girl.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="section__mision">
            <div class="mision">
                <h2>Misión</h2>

                <p>
                    Nuestra misión es inspirar y capacitar a individuos para que exploren el mundo con una curiosidad
                    ilimitada y un entusiasmo desenfrenado. Creemos que viajar no se trata solo de llegar a un destino;
                    es
                    sobre el viaje transformador. Nos dedicamos a crear experiencias de viaje excepcionales que rompen
                    barreras, generan alegría y crean recuerdos duraderos. A través de la innovación, la confiabilidad y
                    un
                    toque de encanto no convencional, nos esforzamos por redefinir la forma en que las personas se
                    conectan
                    con el mundo, una aventura a la vez.
                </p>
            </div>
            <img src="../../../../../assets/about/adventure.jpg" alt="">
        </div>

        <div class="section__vision">
            <img src="../../../../../assets/about/man.jpg" alt="">
            <div class="vision">
                <h2>Visión</h2>

                <p>
                    Visión
                    Vislumbra un mundo en el que los viajes sean una puerta de entrada hacia el autodescubrimiento, la
                    comprensión cultural y el crecimiento personal. Nuestro objetivo es ser el catalizador de travesías
                    transformadoras que deien un impacto positivo tanto en individuos como en comunidades. Nuestra
                    visión es
                    ser el socio de viaje por excelencia, reconocido por fusionar de manera impecable soluciones de
                    vanguardia con experiencias atemporales. A medida que crecemos, aspiramos a fomentar una comunidad
                    global de exploradores que compartan nuestra pasion por la aventura, la innovación y un profundo
                    aprecio
                    por la belleza de paisajes y culturas.
                </p>
            </div>
        </div>
    </div>
</section>