<section class="section__blog">
    <div class="about__blog">
        <h2>Conoce Nuestro Blog</h2>
        <div class="about__title">
            <a routerLink="/home">Inicio</a>
            <p> > </p>
            <a routerLink="/home/blog">Blog</a>
        </div>
    </div>
    <div class="container">
        <div class="blog__known">
            <h2>Nuestro Blog</h2>
            <h3>Lee nuestras recomendacion para viajeros</h3>
        </div>

        <div class="blog__grid">
            <div class="blog__card">
                <img src="../../../../../assets/blog/blog-1-detail-1.png" loading="lazy" alt="Imagen Blog">
                <div class="card__description">
                    <div class="card__tips">
                        <a href="">Consejos</a>
                        <p>|</p>
                        <a href="">Europa</a>
                    </div>
                    <p>Consejos para viajar a Europa por primera vez.</p>
                </div>
            </div>
            <div class="blog__card">
                <img src="../../../../../assets/blog/blog-1-detail-2.png" loading="lazy" alt="Imagen Blog">
                <div class="card__description">
                    <div class="card__tips">
                        <a href="">Guia</a>
                        <p>|</p>
                        <a href="">Japon</a>
                    </div>
                    <p>Guia para viajar a Japón: 15 Consejos imprescindibles</p>
                </div>
            </div>
            <div class="blog__card">
                <img src="../../../../../assets/blog/blog-1-detail-3.png" loading="lazy" alt="Imagen Blog">
                <div class="card__description">
                    <div class="card__tips">
                        <a href="">Consejos</a>
                        <p>|</p>
                        <a href="">Argentina</a>
                    </div>
                    <p>¿Qué ver y hacer en Buenos Aires?</p>
                </div>
            </div>
        </div>
    </div>
</section>