<section>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <h2>Nuestro Blog</h2>
        <div>
            <h3>New York City</h3>

            <p>
                Bienvenidos a la ciudad que nunca duerme, donde los rascacielos tocan el cielo y la energia
                vibrante se siente en cada esquina. New York, la Gran Manzana, es mucho más que solo concreto y luces
                brillantes;
                es una experiencia única que cautiva a todo aquel que la visita.
            </p>
            <p>
                Comencemos nuestro viaje por el icónico Central Park, un oasis
                verde en medio de la jungla de asfalto. Pasear por sus senderos
                arbolados, alquilar una bicicleta o simplemente disfrutar de un picnic
                con la silueta de los rascacielos de fondo es una manera perfecta de escapar del bullicio urbano.
            </p>
        </div>
    </div>
</section>