<section class="section__blog">
    <div class="blog__container">
        <div class="blog__img">
            <img src="../../../../../assets/blog/NewYork.jpg" loading="lazy" alt="Imagen New York">
        </div>
        <div class="blog__info">
            <h2>Nuestro Blog</h2>
            <div class="info__description">
                <h3>New York City</h3>

                <p>
                    Bienvenidos a la ciudad que nunca duerme, donde los rascacielos tocan el cielo y la energia
                    vibrante se siente en cada esquina. New York, la Gran Manzana, es mucho más que solo concreto y
                    luces
                    brillantes;
                    es una experiencia única que cautiva a todo aquel que la visita.
                </p>
                <p>
                    Comencemos nuestro viaje por el icónico Central Park, un oasis
                    verde en medio de la jungla de asfalto. Pasear por sus senderos
                    arbolados, alquilar una bicicleta o simplemente disfrutar de un picnic
                    con la silueta de los rascacielos de fondo es una manera perfecta de escapar del bullicio urbano.
                </p>
            </div>
        </div>
    </div>
    <div class="galery">
        <div class="galery__title container">
            <h2>Galeria de <span>Viajes</span></h2>
            <p>recuerdo de nuestros clientes</p>
        </div>

        <div class="galery__items">
            <div class="galery__img">
                <img src="../../../../../assets/blog/travel1.jpg" loading="lazy" alt="Imagen de viajes">
            </div>
            <div class="galery__img">
                <img src="../../../../../assets/blog/travel2.jpg" loading="lazy" alt="Imagen de viajes">
            </div>
            <div class="galery__img">
                <img src="../../../../../assets/blog/travel3.jpg" loading="lazy" alt="Imagen de viajes">
            </div>
            <div class="galery__img">
                <img src="../../../../../assets/blog/travel4.jpg" loading="lazy" alt="Imagen de viajes">
            </div>
        </div>
    </div>
</section>